@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font: 'Cousine', monospace;
  --background-color: #121212;
  --placeholder-color: yellow;
  --right-color: white;
  --wrong-color: red;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: var(--font);
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  transition: 0.2s ease opacity;
  opacity: 0;
  width: 100%;
  color: var(--right-color);
  margin-bottom: 4px;
  font-size: 24px;
}

.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease visibility, 0.2s ease opacity;
}

.menu {
  overflow: hidden;
  margin: 20px;
  max-width: 600px;
  width: calc(100% - 40px);
  position: absolute;
  background-color: var(--background-color);
  border-radius: 10px;
}

.menuHeader {
  padding: 16px 16px;
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuInput {
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--right-color);
  width: 100%;
}

.searchIcon {
  margin-right: 10px;
  fill: var(--placeholder-color);
}

.menuOptions {
  display: flex;
  flex-direction: column;
}

.menuOption {
  transition: 0.1s ease background-color;
  padding: 10px 16px;
}

.selected {
  background-color: var(--right-color);
}

.selected > .menuOptionText {
  color: var(--background-color);
}

.menuOptionText {
  transition: 0.1s ease color;
  color: var(--right-color);
  font-size: 13px;
}

.disapear {
  transform: scale(0);
}

.results {
  display: none;
  transform: scale(0);
  max-width: 50%;
  width: fit-content;
  position: relative;
  overflow: visible;
  transition: 0.2s ease transform;
}

.resultsCard {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.appear {
  transform: scale(1);
}

.resultsText {
  color: var(--placeholder-color);
  font-size: 20px;
}

.logo {
  cursor: pointer;
  margin: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo:hover > .logoText {
  color: var(--right-color);
}

.logo:hover > .logoIcon{
  fill: var(--right-color);
  transform: rotate(180deg);
}

.logoIcon {
  fill: var(--placeholder-color);
  transition: 0.2s ease fill, 0.2s ease transform;
}

.logoSpan {
  color: var(--placeholder-color);
}

.logoText {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: var(--placeholder-color);
  font-family: var(--font);
  transition: 0.2s ease color;
}

.main {
  transition: 0.2s ease transform;
  overflow-y: hidden;
  overflow-x: visible;
  width: fit-content;
  position: relative;
}

.main::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: absolute;
  display: flex;
  align-items: flex-end;
  transition: 0.08s linear all;
}

.cursorBody {
  width: 100%;
  height: 2px;
  background-color: var(--placeholder-color);
}

.text {
  display: flex;
  flex-wrap: wrap;
}

.word {
  display: flex;
}

.char {
  font-family: var(--font);
  font-size: 24px;
  color: var(--placeholder-color);
}

.right {
  color: var(--right-color);
}

.wrong {
  color: var(--wrong-color);
}
